#fd{
    min-height: 9cm;
}
header{
    min-height: 9cm;
}
#fimg{
   display: inline;
    width: 8cm; height: 8cm;
    float: left;
    border: solid black;
}
#headone{
    
    color:black;
    font-size: 2cm;
    margin: 0%;
  
}
#fp{
    display: inline;
}
#head2{
    margin: .5cm;
    font-size: 30px;
}
#fp{
    color: rgb(29, 8, 51);
    font-size: 1cm;
    font-family: cursive;
    display: inline;
 
}
#fd{
    min-height: 8cm;
    background-color: rgb(158, 48, 48);
    font-family: cursive;
    
}
#sd{
    
   
}
#sp{
    font-size: 25px;
    margin: .5cm;
    color: blue;
    font-family: cursive;
}
#thp{
    font-size: 25px;
    margin: .5cm;
    color: seagreen;
    font-family: cursive;
}
main,footer{
    background-image:url('../img/colors.jpg');
}
#f4p, #listone{
    font-size: 25px;
    color: saddlebrown;
    font-family: cursive;
}
#f5d{
    font-size: 25px;
    font-family: cursive;
    color: rgb(26, 59, 121);
}
footer{
    font-size: 1cm;
}

